<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 p-sidebar">
            <div ui-view="sidebar"></div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div data-component="informacoes" ng-controller="CategoriaCtrl as ctrl" ng-init="ctrl.init()">
                <div class="cadastro">
                    <form class="form" ng-init="ctrl.preparaFormEdit()">
                        <div class="step step-3" data-step="3">
                            <h2 class="session top">Dados da Categoria</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text">Nome</p>
                                    <input type="text" maxlength="500" class="input" ng-model="ctrl.model.Categoria.Nome">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text">Descrição</p>
                                    <textarea rows="5" class="input" ng-model="ctrl.model.Categoria.Descricao"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="buttons">
                    <button class="btn " ui-sref="root.categoria-list">
                        <span class="btn-text">Voltar</span>
                    </button>
                    <button class="btn btn-success" ng-click="ctrl.salvar()">
                        <span class="btn-text">Continuar</span>
                    </button>
                </div>
            </div>
    
        </div>
    </div>
    