<app-navbar [showLoader]="isLoading"></app-navbar>

<div class="container">
  <div class="row top-list">
    <div class="col s6">
      <h5>Fornecedor</h5>
    </div>
    <div class="col s6">
      <br>
      <button class="btn blue-grey lighten-3 right" routerLink="/fornecedor">
        <i class="material-icons left">arrow_back</i>Voltar
      </button>
    </div>
  </div>
  <hr>
  <error-summary [errors]="erros"></error-summary>
  <div class="row">
    <form class="col s12" (ngSubmit)="salvar()">

      <div class="row">
        <input name="grupoPessoa" type="radio" id="pf" value="F" [(ngModel)]="tipoPessoa" (change)="changePessoa()" />
        <label for="pf">Pessoa Física</label>
        <input name="grupoPessoa" type="radio" id="pj" value="J" [(ngModel)]="tipoPessoa" (change)="changePessoa()" />
        <label for="pj">Pessoa Jurídica</label>
      </div>

      <div class="row">
        <div class="input-field col s9">
          <input id="nome" name="nome" type="text" class="validate" [(ngModel)]="fornecedor.Nome" maxlength="1000" required>
          <label for="nome" [class.active]="fornecedor.Nome">Nome</label>
        </div>
        <div class="input-field col s3" *ngIf="tipoPessoa == 'F'">
          <input id="cpf" name="cpf" type="text" class="validate" [textMask]="{mask: cpfMask}" [(ngModel)]="fornecedor.DocumentoMask"
            required>
          <label for="cpf" [class.active]="fornecedor.Documento">CPF</label>
        </div>
        <div class="input-field col s3" *ngIf="tipoPessoa == 'J'">
          <input id="cnpj" name="cnpj" type="text" class="validate" [textMask]="{mask: cnpjMask}" [(ngModel)]="fornecedor.DocumentoMask"
            required>
          <label for="cnpj" [class.active]="fornecedor.Documento">CNPJ</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s7">
          <input id="email" name="email" type="email" class="validate" [(ngModel)]="fornecedor.Email" maxlength="1000" required>
          <label for="email" [class.active]="fornecedor.Email">E-mail</label>
        </div>
        <div class="input-field col s5">
          <input id="telefone" name="telefone" type="text" class="validate" [(ngModel)]="fornecedor.Telefone" maxlength="50">
          <label for="telefone" [class.active]="fornecedor.Telefone">Telefone</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <input class="btn cyan darken-2 right" type="submit" value="Salvar">
        </div>
      </div>
    </form>
  </div>
</div>
