<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="logCategory" value="LogPropostasAPI" />

  <!--Diretórios de imagens-->
  <add key="diretorioArquivoProposta" value="Arquivos/Propostas/"/>
  <add key="tempoExpiracaoProposta" value="24"/> <!--horas-->
  <add key="valorMinimoAprovacaoDiretoria" value="10000"/>
  

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
