@import 'nib'
@import '../../utils.styl'

[data-page='cadastro']
	.buttons
		padding-right 20px
		padding-top 35px
		text-align right
		+breakpoint( large-mobile )
			padding-top 20px
			padding-right 0
		.btn
			background $secondary
			border 3px solid $secondary
			border-radius 0
			color $white
			font 17px $font-ubuntu
			outline none
			padding 10px 15px
			position relative
			transition 500ms
			margin-bottom 10px
			.btn-text
				position relative
				z-index 3
			&::after
				background $white
				content ''
				height 100%
				left 0
				position absolute
				top 0
				transition 300ms
				width 0%
				z-index 1
			&:hover
				color $secondary
				&::after
					width 100%

[data-component='informacoes'],
[data-component='endereco'],
[data-component='termos'],
[data-component='pagamento'],
[data-component='concluido']
	display block
	padding-left 55px
	padding-right 20px
	padding-top 15px
	+breakpoint( large-mobile )
		padding 0 40px 40px
	.cadastro
		.step
			&.step-1
				display block
			&.step-4
				p
					color $text-color-black
					font 14px $font-ubuntu
				.content
					min-height 250px
					overflow-y auto
			.text
				color $text-color
				font 14px $font-ubuntu
				margin 0
				.card
					position absolute
					top 50%
					transform translateY( -50% )
					+breakpoint( tablet )
						left 25px
					+breakpoint( large-mobile )
						left 0
				&.small
					display block
					font-size 12px
					margin-top 20px
				&.dark
					color $text-color-black
				&.big
					font-size 18px
					margin-bottom 30px
			.peopletype
				margin-bottom 20px
			.operadora
				margin-bottom 60px
				margin-top 10px
				label
					margin-top 20px
				+breakpoint( large-mobile )
					margin-bottom 30px
					label
						display block
			.other_address
				margin-top 20px
			.cards
				margin-bottom 60px
				+breakpoint( large-mobile )
					margin-bottom 30px
					label
						margin 20px 0
			label
				margin 10px 0
				position relative
				.radio
					height 100%
					left 0
					opacity 0
					position absolute
					top 0
					visibility hidden
					width 100%
					& ~ span
						margin-right 50px
						padding-left 35px
					& + .box
						height 20px
						left 0
						padding-left 0
						position absolute
						top -1px
						width 20px
					& + .box:before
						background-color $input-background
						border 1px solid $border-color
						border-radius 50%
						content ' '
						display inline-block
						height 20px
						margin-right 15px
						vertical-align middle
						visibility visible
						width 20px
					&.error + .box:before
						border-color $error
					&:checked + .box:before
						background-image url( '../img/icons/radio-circle.png' )
						background-position center center
						background-repeat no-repeat
				&.block
					display block
					margin 18px 0
					+breakpoint( tablet )
						display inline-block
					+breakpoint( mobile )
						display block
				&.small
					margin 20px 0
					.radio
						& ~ span.text
							margin-right 8px
							padding-left 30px
				&:last-child
					.radio
						& ~ span
							margin-right 0
			.input
				background $input-background
				border 1px solid $border-color
				border-radius 20px
				display block
				font 14px $font-ubuntu
				margin-bottom 30px
				margin-top 10px
				padding 10px 20px
				width 100%
				min-height 38px
				&.ddd
					display inline-block
					margin-right 3px
					padding 10px
					text-align center
					width 25%
				&.phone
					display inline-block
					width 70%
				&.error
					border-color $error
			.select
				.ui-select-toggle, .ui-select-search
					background $input-background
					background-image url( '../img/icons/arrow-select.png' )
					background-position 90% center
					background-repeat no-repeat
					border 1px solid $border-color
					border-radius 20px
					display block
					margin-bottom 30px
					margin-top 10px
					padding 8px 20px
					width 100%
					min-height 38px
					text-align left
					+breakpoint( tablet )
						background-position 98% center
					+breakpoint( large-mobile )
						background-position 94% center
					&.error
						border-color $error
					.ui-select-placeholder
						font 14px $font-ubuntu
						color $text-color
					.caret
						display none
				// .ui-select-search-hidden
				// 	visibility hidden
				// .ui-select-focusser
				// 	visibility hidden
				.dropdown-menu
					max-height 200px
					overflow-y auto
					padding 0
					top 40px
					.ui-select-choices-row
						padding 5px 10px
						border-bottom 1px solid $border-color
						cursor pointer
						color $text-color
						font 14px $font-ubuntu
						> span
							padding 0
						&:last-child
							border none
						&.active
							background $secondary
							> span
								background none
			.session
				color $secondary
				font 16px $font-ubuntu
				margin 40px 0
				&.top
					margin-top 0
				&.price
					margin-bottom 20px
					font-weight 600
				&.big
					font-size 17px
				&.resume
					text-align right
					margin 0 0 10px
					&:last-child
						margin-top 20px
					+breakpoint( large-mobile )
						text-align left
						&:first-child
							margin-top 20px
			.ready
				color $secondary
				font 36px $font-ubuntu
				margin-bottom 40px
				margin-top 0
			.mt50
				margin-top 50px
				+breakpoint( large-mobile )
					margin-top 30px


