<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 p-sidebar">
		<div ui-view="sidebar"></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div data-component="informacoes" ng-controller="UsuarioCtrl as ctrl" ng-init="ctrl.init()">
			<div class="cadastro">
				<form class="form" ng-init="ctrl.preparaFormEdit()">
					<div class="step step-3" data-step="3">
						<h2 class="session top">Dados do Usuário</h2>
						<div class="row">
							<div class="col-md-12">
								<p class="text">Nome Completo</p>
								<input type="text" maxlength="500" class="input" ng-model="ctrl.model.Usuario.Nome">
							</div>

						</div>
						<div class="row">
							<div class="col-md-3">
								<p class="text">Data Nascimento</p>
								<input type="text" maxlength="10" class="input date" placeholder="__/__/___" ng-model="ctrl.model.Usuario.DataNascFormatada">
							</div>
							<div class="col-md-5">
								<p class="text">CPF</p>
								<input type="text" class="input cpf" placeholder="___.___.___-__" ng-model="ctrl.model.Usuario.CPF" number-box>
							</div>
							<div class="col-md-4">
								<p class="text">Perfil</p>
								<ui-select class="select" ng-model="ctrl.model.Usuario.Perfil" theme="bootstrap" style="width: 100%;">
									<ui-select-match placeholder="Selecione">{{$select.selected.description}}</ui-select-match>
									<ui-select-choices repeat="perfil.value as perfil in ctrl.model.arrayPerfis | filter: $select.search">
										<span ng-bind-html="perfil.description | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="row" ng-if="ctrl.model.Usuario.ID === undefined">
							<div class="col-md-5">
								<p class="text">Senha de Acesso</p>
								<input type="password" maxlength="100" class="input" ng-model="ctrl.model.Usuario.Senha">
							</div>
						</div>
						<div class="row" ng-if="ctrl.model.Usuario.ID && ctrl.model.PodeMudarSenha">
							<div class="col-md-12">
								<button type="button" ui-sref="root.mudar-senha({ user: ctrl.model.Usuario.ID })" class="btn btn-warning pull-right">Mudar Senha</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="buttons">
				<button class="btn" ui-sref="root.usuario-list">
					<span class="btn-text">Voltar</span>
				</button>
				<button class="btn btn-success" ng-click="ctrl.salvar()">
					<span class="btn-text">Continuar</span>
				</button>
			</div>
		</div>

	</div>
</div>
