<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 p-sidebar">
		<div ui-view="sidebar"></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="UsuarioCtrl as ctrl" ng-init="ctrl.init()">
		<div class="header-list">
			<h3>Usuários</h3>
			<hr />
			<div>
				<button type="button" class="btn btn-primary" ui-sref="root.usuario-edit">Adicionar</button>
			</div>
			<div style="float: right;">
				<input type="text" placeholder="Filtrar..." ng-model="filtro">
			</div>
		</div>
		<table class="table table-hover" ng-init="ctrl.listar()">
			<thead>
				<tr>
					<th>#ID</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>Data Nascimento</th>
					<th style="width: 135px">Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.lista | filter: filtro">
					<td>{{user.ID}}</td>
					<td>{{user.Nome}}</td>
					<td>{{user.CPFMask}}</td>
					<td>{{user.DataNascimento | date:'dd/MM/y'}}</td>
					<td>
						<a href="" class="btn btn-warning btn-sm" ui-sref="root.usuario-edit({ id: user.ID })">Editar</a>
						<a href="" class="btn btn-danger btn-sm" ng-click="ctrl.remover(user)">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
