@import 'nib'
@import '../utils.styl'

.p-sidebar,
.p-cadastro
	padding 0
.p-sidebar
	position fixed
	left 0
	+breakpoint( large-mobile )
		position absolute
		top 150px
.box
	max-width 100%
	padding-bottom 50px
	width 710px
	.logo
		display block
		padding 45px 0 40px
		text-align center
		+breakpoint( large-mobile )
			padding 20px 0
			margin-bottom 220px
		.link
			display inline-block
		.title
			font-size 0
