@import 'nib'
@import '../../utils.styl'

[data-component='modal']
	.modal-header
		.title
			color $secondary
			font 28px $font-ubuntu
			font-weight 600
			margin 0
	.modal-body
		.description
			color $text-color-black
			font 14px $font-ubuntu
			margin 20px 0
	.modal-footer
		.btn
			border 3px solid $secondary
			border-radius 0
			box-shadow none
			font 14px $font-ubuntu
			outline none
			transform scale( 1 )
			transition ease-in-out 300ms
			&.btn-primary
				background-color $secondary
				border-color $secondary
			&.btn-warning
				background $primary
				border-color $primary
			&:hover,
			&:focus
				transform scale( 1.05 )

