<div data-component="sidebar" ng-controller="SidebarCtrl as ctrl" ng-init="ctrl.init()">
	<div style="text-align: center">
		<br>
		<spam>Você está logado como:</spam>
		<br>
		<strong>{{ctrl.model.NomeUsuario}}</strong>
		<br>
		<a href="" ng-click="ctrl.logOff()">Sair</a> | <a href="" ui-sref="root.mudar-senha">Mudar Senha</a>
	</div>
	<div class="sidebar">
		<ul class="list">
			<li class="item" ng-class="{'active':ctrl.model.view == 'usuario' }">
				<a href="" ui-sref="root.usuario-list" class="link">Usuarios</a>
			</li>
			<li class="item" ng-class="{'active':ctrl.model.view == 'categoria' }">
				<a ui-sref="root.categoria-list" class="link">Categorias</a>
			</li>
			<li class="item" ng-class="{'active':ctrl.model.view == 'fornecedor' }">
				<a ui-sref="root.fornecedor-list" class="link">Fornecedores</a>
			</li>
			<li class="item" ng-class="{'active':ctrl.model.view == 'proposta' }">
				<a ui-sref="root.proposta-list" class="link">Propostas</a>
			</li>
		</ul>
	</div>
</div>
