<div data-component="modal" ng-ctrl="ModalCtrl as ctrl" ng-init="ctrl.init()">
    <div class="modal-header">
        <h1 class="title">{{ctrl.model.header}}</h1>
    </div>
    <div class="modal-body">
    	<p class="description">
        {{ctrl.model.body}}
    	</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()" ng-if="ctrl.model.cancelButton">Cancelar</button>
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">Continuar</button>
    </div>
</div>
