USE [master]
GO
/****** Object:  Database [ps_propostas]    Script Date: 11/04/2018 23:24:59 ******/
CREATE DATABASE [ps_propostas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ps_propostas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ps_propostas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ps_propostas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ps_propostas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ps_propostas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ps_propostas]
GO
USE [ps_propostas]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/04/2018 23:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](500) NOT NULL,
	[Descricao] [varchar](max) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 11/04/2018 23:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](1000) NOT NULL,
	[Documento] [varchar](20) NOT NULL,
	[Telefone] [varchar](50) NULL,
	[Email] [varchar](200) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 11/04/2018 23:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdProposta] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Acao] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
 CONSTRAINT [PK_Historico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposta]    Script Date: 11/04/2018 23:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](500) NOT NULL,
	[IdFornecedor] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Descricao] [varchar](max) NULL,
	[Status] [int] NOT NULL,
	[Arquivo] [varchar](150) NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Proposta] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/04/2018 23:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](500) NOT NULL,
	[CPF] [char](11) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[Perfil] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[Senha] [varchar](100) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Historico]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Proposta] FOREIGN KEY([IdProposta])
REFERENCES [dbo].[Proposta] ([ID])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK_Historico_Proposta]
GO
ALTER TABLE [dbo].[Historico]  WITH CHECK ADD  CONSTRAINT [FK_Historico_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK_Historico_Usuario]
GO
ALTER TABLE [dbo].[Proposta]  WITH CHECK ADD  CONSTRAINT [FK_Proposta_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[Proposta] CHECK CONSTRAINT [FK_Proposta_Categoria]
GO
ALTER TABLE [dbo].[Proposta]  WITH CHECK ADD  CONSTRAINT [FK_Proposta_Fornecedor] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[Fornecedor] ([ID])
GO
ALTER TABLE [dbo].[Proposta] CHECK CONSTRAINT [FK_Proposta_Fornecedor]
GO
INSERT INTO [dbo].[Usuario]
           ([Nome]
           ,[CPF]
           ,[DataNascimento]
           ,[Perfil]
           ,[Ativo]
           ,[Senha])
     VALUES
           ('Administrador'
           ,'00000000000'
           ,(GETDATE()-2000)
           ,0
           ,1
           ,'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
GO
USE [master]
GO
