<form class="form" ng-init="ctrl.preparaFiltro()">

	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p class="text">Proposta</p>
			<input type="text" maxlength="1000" class="form-control" ng-model="ctrl.filtro.NomeProposta">
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<p class="text">Fornecedor</p>
			<input type="text" class="form-control" ng-model="ctrl.filtro.NomeFornecedor">
		</div>
	</div>
	<div class="row" style="margin-top:10px">
		<div class="col-md-2 col-sm-2 col-xs-6">
			<p class="text">De</p>
			<input type="text" class="form-control date" ng-model="ctrl.filtro.DataInicialFormatada">
		</div>
		<div class="col-md-2 col-sm-2 col-xs-6">
			<p class="text">Ate</p>
			<input type="text" class="form-control date" ng-model="ctrl.filtro.DataFinalFormatada">
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p class="text">Status</p>
			<ui-select class="select" ng-model="ctrl.filtro.Status" theme="bootstrap" style="width: 100%;">
				<ui-select-match placeholder="Selecione">{{$select.selected.description}}</ui-select-match>
				<ui-select-choices repeat="status.value as status in ctrl.model.arrayStatus | filter: $select.search">
					<span ng-bind-html="status.description | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p class="text">Categoria</p>
            <ui-select class="select" ng-model="ctrl.filtro.IdCategoria" theme="bootstrap" style="width: 100%;">
                <ui-select-match placeholder="Selecione">{{$select.selected.Nome}}</ui-select-match>
                <ui-select-choices repeat="categoria.ID as categoria in ctrl.model.listaCategorias | filter: $select.search">
                    <span ng-bind-html="categoria.Nome | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<button type="submit" ng-click="ctrl.pesquisar()" class="btn btn-primary pull-right">Pesquisar</button>
		</div>
	</div>
</form>
