<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 p-sidebar">
		<div ui-view="sidebar"></div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="PropostaCtrl as ctrl" ng-init="ctrl.init()">
		<div class="header-list">
			<h3>Histórico de Mudança</h3>
			<hr />
			<div>
				<button type="button" class="btn" ng-click="goBack()">Voltar</button>
			</div>
		</div>
		<br>
		<div class="panel panel-default" style="padding-left: 20px;padding-top: 10px">
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Proposta:</label>
				<div class="col-sm-5">
					<span>{{ctrl.model.Historico.Nome}} ({{ctrl.model.Historico.Valor | currency: "R$" }})</span>
				</div>
				<label class="col-sm-1 col-form-label">Fornecedor:</label>
				<div class="col-sm-5">
					<a href="" ui-sref="root.fornecedor-edit({ id: ctrl.model.Historico.IdFornecedor })">
						{{ctrl.model.Historico.Fornecedor.Nome}}
					</a>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Data:</label>
				<div class="col-sm-5">
					<span>{{ctrl.model.Historico.Data | date: 'dd/MM/yyyy'}}</span>
				</div>
				<label class="col-sm-1 col-form-label">Categoria:</label>
				<div class="col-sm-5">
					<a href="" ui-sref="root.categoria-edit({ id: ctrl.model.Historico.IdCategoria })">
						{{ctrl.model.Historico.Categoria.Nome}}
					</a>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label">Status:</label>
				<div class="col-sm-5">
					<span>{{ctrl.model.Historico.StatusStr}}</span>
				</div>
				<label class="col-sm-1 col-form-label">Arquivo:</label>
				<div class="col-sm-5" ng-show="ctrl.model.Historico.Arquivo">
					<a href="{{ctrl.model.Historico.CaminhoArquivo}}" target="_blank" class="btn btn-warning btn-xs">Baixar</a>
				</div>
				<div class="col-sm-5" ng-hide="ctrl.model.Historico.Arquivo">
					<span>Esta proposta não possui arquivo.</span>
				</div>
			</div>
			<div class="form-group row" ng-show="ctrl.model.Historico.Descricao">
				<label class="col-sm-1 col-form-label">Descrição:</label>
				<div class="col-sm-5">
					<span>{{ctrl.model.Historico.Descricao}}</span>
				</div>
			</div>
		</div>
		<table class="table table-hover" ng-init="ctrl.verHistorico()">
			<thead>
				<tr>
					<th>Ação</th>
					<th>Data</th>
					<th>Responsável</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entity in ctrl.model.Historico.HistoricoAlteracao">
					<td>{{entity.AcaoStr}}</td>
					<td>{{entity.Data | date: 'd/MM/yyyy HH:mm:ss'}}</td>
					<td>{{entity.Usuario.Nome}} ({{entity.Usuario.PerfilStr}})</td>
				</tr>
			</tbody>
		</table>
		<br </div>
	</div>
