<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 p-sidebar">
		<div ui-view="sidebar"></div>
	</div>


	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div data-component="informacoes" ng-controller="FornecedorCtrl as ctrl" ng-init="ctrl.init()">
			<div class="cadastro">
				<form class="form" ng-init="ctrl.preparaFormEdit()">
					<div class="step step-3" data-step="3">
						<h2 class="session top">Dados do Fornecedor</h2>
						<div class="row">
							<div class="col-md-12">
								<p class="text">Este fornecedor é</p>

								<label id="lblpeople1" tabindex="0" ng-click="ctrl.alteraTipoPessoa()">
									<input id="rdpeople1" ng-model="ctrl.model.Fornecedor.TipoPessoa" type="radio" name="people_type" class="radio" value="F">
									<span class="box"></span>
									<span class="text">Pessoa Física</span>
								</label>

								<label id="lblpeople2" tabindex="0" ng-click="ctrl.alteraTipoPessoa()">
									<input id="rdpeople2" ng-model="ctrl.model.Fornecedor.TipoPessoa" type="radio" name="people_type" class="radio" value="J">
									<span class="box"></span>
									<span class="text">Pessoa Jurídica</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<p class="text">Nome</p>
								<input type="text" maxlength="1000" class="input" ng-model="ctrl.model.Fornecedor.Nome">
                            </div>
                            
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="ctrl.model.Fornecedor.TipoPessoa == 'F'">
                                <p class="text">CPF</p>
                                <input type="text" class="input cpf" name="cpf" ng-model="ctrl.model.Fornecedor.Documento" number-box upper-case>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-show="ctrl.model.Fornecedor.TipoPessoa == 'J'">
                                <p class="text">CNPJ</p>
                                <input type="text" class="input cnpj" name="cnpj" ng-model="ctrl.model.Fornecedor.Documento" number-box upper-case>
                            </div>

						</div>
						<div class="row">
							<div class="col-md-7">
								<p class="text">E-mail</p>
								<input type="text" maxlength="200" class="input" ng-model="ctrl.model.Fornecedor.Email">
							</div>
							<div class="col-md-5">
								<p class="text">Telefone</p>
								<input type="text" maxlength="50" class="input" ng-model="ctrl.model.Fornecedor.Telefone">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="buttons">
				<button class="btn" ui-sref="root.fornecedor-list">
					<span class="btn-text">Voltar</span>
				</button>
				<button class="btn btn-success" ng-click="ctrl.salvar()">
					<span class="btn-text">Continuar</span>
				</button>
			</div>
		</div>

	</div>
</div>
