<div data-component="form-login" ng-controller="LoginCtrl as ctrl" ng-init="ctrl.init()">
	
	<div class="content">
		<h3>Gerenciamento de Propostas</h3>
		
		<form>
			<div class="fields">
				<strong>CPF</strong>
				<input class="form-control cpf" type="text" ng-model="ctrl.model.CPF" number-box upper-case />
			</div>
			<div class="fields">
				<strong>Senha</strong>
				<input class="form-control" maxlength="100" type="password" placeholder="Senha" ng-model="ctrl.model.Senha" />
			</div>		
			<div class="actions">
				<button type="submit" class="btn btn-primary btn-lg" ng-click="ctrl.login()">Entrar</button>
			</div>
		</form>
	</div>
</div>

